@import '../helpers/mixins';


$standard-medium-button: 8px 20px;
$sharp-medium-button: 8px 12px;

@media screen and (min-width: 550px) and (max-width: 720px) {
  .title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
  }

  #myvid {
    width: 80%;
    transform: scale(1.6) translateX(0%) translateY(-20%);


  }

  .signOut {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    padding: 10px;
  }

  .currentScore {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;

  }

  .gamePause {
    margin: 30px auto;
    height: 50%;
    width: 80%;
    font-size: 1.2rem;
  }

  .timer {
    grid-column-start: 3;
    grid-column-end: 4;

  }

  .loggedIn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 1rem;
  }

  #graphButton {
    visibility: collapse;
  }

  #scoreButt, #contButt {

    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 5%;
    
  }

  #oneMin {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;
    padding: 10px 25px;
  }
  #twoMin {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;
    padding: 10px 25px;
  }
  #fiveMin {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;
    padding: 10px 25px;
  }

  .ready, #noButton, #yesButton {
    font-size: 12px;
  }

  .questions {
    padding: 75px 10px;
  }

  #myvid {
    width: 80%;
    transform: scale(1.5) translateX(20%) translateY(5%);
    overflow: hidden;

  }

  .answerButtons {
    transform: translateX() translateY(-85%);
    
  }

  #ansButC {
    @include position(1, 2, 6, 7, $standard-medium-button);
  }

  #ansButC\23 {
    @include position(1, 3, 5, 6, $sharp-medium-button);
  }

  #ansButD {
    @include position(2, 3, 6, 7, $standard-medium-button);
  }

  #ansButD\23 {
    @include position(2, 4, 5, 6, $sharp-medium-button);
  }

  #ansButE {
    @include position(3, 4, 6, 7, $standard-medium-button);
  }

  #ansButF {
    @include position(4, 5, 6, 7, $standard-medium-button);
  }

  #ansButF\23 {
    @include position(4, 6, 5, 6, $sharp-medium-button);
  }

  #ansButG {
    @include position(5, 6, 6, 7, $standard-medium-button);
  }

  #ansButG\23 {
    @include position(5, 7, 5, 6, $sharp-medium-button);
  }

  #ansButA {
    @include position(6, 7, 6, 7, $standard-medium-button);
  }

  #ansButA\23 {
    @include position(6, 8, 5, 6, $sharp-medium-button);
  }

  #ansButB {
    @include position(7, 8, 6, 7, $standard-medium-button);
  }
}
