@import '../helpers/mixins';


$standard-small-button: 08px 12px;
$sharp-small-button: 05px 08px;

@media screen and (max-width: 550px) {
  .container {
    position: relative;

  
  .title {
    visibility: hidden;
    
  }

  .mainMenu {

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    

  }

  .signOut {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    padding-bottom: 2rem;
  }

  .currentScore {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
  }



  .timer {
    grid-column-start: 2;
    grid-column-end: 3;

  }

  .loggedIn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  #graphButton {
    visibility: collapse;
  }

  #scoreButt, #contButt {

    position: absolute;
    width: 50%;
    left: 25%;
    bottom: -25%;
    
  }

  #oneMin {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;

    padding: 05px 15px;
  }
  #twoMin {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;
    padding: 05px 15px;
  }
  #fiveMin {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1rem;
    margin: auto;
    padding: 05px 15px;
  }

  .ready, #noButton, #yesButton {
    font-size: 12px;
  }

  .questions {
    padding: 75px 10px;
  }

  .choice {
    height: 80px;
  }
  .correct, .incorrect {
    height: 80px;

  }
  .currentScoreIs {
    padding-bottom: 1rem;
  }

  #myvid {
    width: 65%;
    transform: scale(1.7) translateX(05%) translateY(-15%);


  }

  .answerButtons {
    transform: translateY(-85%);

    
  }

  #ansButC {
    @include position(1, 2, 6, 7, $standard-small-button);

  }

  #ansButC\23 {
    @include position(1, 3, 5, 6, $sharp-small-button);

  }

  #ansButD {
    @include position(2, 3, 6, 7, $standard-small-button);

  }

  #ansButD\23 {
    @include position(2, 4, 5, 6, $sharp-small-button);

  }

  #ansButE {
    @include position(3, 4, 6, 7, $standard-small-button);
  }

  #ansButF {
    @include position(4, 5, 6, 7, $standard-small-button);
  }

  #ansButF\23 {
    @include position(4, 6, 5, 6, $sharp-small-button);
  }

  #ansButG {
    @include position(5, 6, 6, 7, $standard-small-button);
  }

  #ansButG\23 {
    @include position(5, 7, 5, 6, $sharp-small-button);
  }

  #ansButA {
    @include position(6, 7, 6, 7, $standard-small-button);
  }

  #ansButA\23 {
    @include position(6, 8, 5, 6, $sharp-small-button);
  }

  #ansButB {
    @include position(7, 8, 6, 7, $standard-small-button);
  }

  }
}
