

#oneMin {
  z-index: 5;
  color: #FEE440;
  background-color: #5F758E;
  border: 2px solid white;


}

#oneMin:Hover {
  color: blue;
  background-color: #FEE440;
}

#twoMin {
z-index: 5;
color: #FEE440;
background-color: #5F758E;
border: 2px solid white;


}

#twoMin:Hover {
color: blue;
background-color: #FEE440;
}

#fiveMin {
z-index: 5;
color: #FEE440;
background-color: #5F758E;
border: 2px solid white;


}

#fiveMin:Hover {
color: blue;
background-color: #FEE440;
}