.answerButtons {
    position: absolute;
    margin-left: 440px;
}


#ansButC {
    position: absolute;
    margin-top: 475px;
    margin-left: -370px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButCS {
    position: absolute;
    margin-top: 425px;
    margin-left: -330px;

}

#ansButD {
    position: absolute;
    margin-top: 475px;
    margin-left: -260px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButDS {
    position: absolute;
    margin-top: 425px;
    margin-left: -210px;

}

#ansButE {
    position: absolute;
    margin-top: 475px;
    margin-left: -150px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButF {
    position: absolute;
    margin-top: 475px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButFS {
    position: absolute;
    margin-top: 425px;
    margin-left: 0px;

}

#ansButG {
    position: absolute;

    
    margin-top: 475px;
    margin-left: 60px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButGS {
    position: absolute;
    margin-top: 425px;
    margin-left: 120px;

}

#ansButA {
    position: absolute;
    margin-top: 475px;
    margin-left: 170px;
    padding-left: 40px;
    padding-right: 40px;

}

#ansButAS {
    position: absolute;
    margin-top: 425px;
    margin-left: 240px;

}

#ansButB {
    position: absolute;
    margin-top: 475px;
    margin-left: 280px;
    padding-left: 40px;
    padding-right: 40px;

}