.answerButtons {
    position: absolute;
    margin-top: -100px;
    margin-left: 440px;
    z-index: 4;

}


#ansButC {
    position: absolute;
    margin-top: 425px;
    margin-left: -370px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButC:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButCS {
    position: absolute;
    margin-top: 365px;
    margin-left: -320px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButCS:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButD {
    position: absolute;
    margin-top: 425px;
    margin-left: -260px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButD:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButDS {
    position: absolute;
    margin-top: 365px;
    margin-left: -190px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButDS:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButE {
    position: absolute;
    margin-top: 425px;
    margin-left: -150px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButE:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButF {
    position: absolute;
    margin-top: 425px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButF:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButFS {
    position: absolute;
    margin-top: 365px;
    margin-left: 0px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButFS:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButG {
    position: absolute;
    margin-top: 425px;
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButG:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButGS {
    position: absolute;
    margin-top: 365px;
    margin-left: 120px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButGS:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButA {
    position: absolute;
    margin-top: 425px;
    margin-left: 180px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButA:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButAS {
    position: absolute;
    margin-top: 365px;
    margin-left: 240px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButAS:hover {
    color: blue;
    background-color: #FEE440;
}

#ansButB {
    position: absolute;
    margin-top: 425px;
    margin-left: 290px;
    padding-left: 40px;
    padding-right: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;

}

#ansButB:hover {
    color: blue;
    background-color: #FEE440;
}