.gameScreen {
    text-align: center;
    justify-content: center;
    z-index: 2;
    background-color: black;
    height: 600px;
}

#myvid {
    position: absolute;
    height: 480px;
    width: 850px;
    margin-left: -430px;
    margin-top: -50px;
}
