.registerBox {
    position: absolute;
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 50px;
    z-index: 1;
}

.loginBox {
position: absolute;
padding-top: 10px;
margin-top: 0px;
margin-left: 600px;
z-index: 1;
}

.signInBox {
    background-color: beige;
    z-index: 1;
    width: 100%;
    height: 200px;
}