.mainMenu {
    position: absolute;
    text-align: center;
    justify-content: center;
    z-index: 3;
    background-color: black;
    height: 580px;
    width: 900px;
    border-radius: 40px;
    margin-top: 0px;

}


#oneMin {
    z-index: 5;
    position: relative;
    top: -90px;
    left: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;
    margin-left: 20px;
    margin-right: 40px;

}

#oneMin:Hover {
    color: blue;
    background-color: #FEE440;
}

#twoMin {
    z-index: 5;
    position: relative;
    top: -90px;
    left: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;
    margin-left: 40px;
    margin-right: 40px;

}

#twoMin:Hover {
    color: blue;
    background-color: #FEE440;
}

#fiveMin {
    z-index: 5;
    position: relative;
    top: -90px;
    left: 40px;
    color: #FEE440;
    background-color: #5F758E;
    border: 2px solid white;
    margin-left: 40px;
    margin-right: 20px;

}

#fiveMin:Hover {
    color: blue;
    background-color: #FEE440;
}

.ready {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-left: 160px;
    border-radius: 12px;
    z-index: 4;
    height: 120px;
    width: 60%;
    font-size: 32px;
    padding: 15px;
    background-color: aliceblue;
}

#noButton {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 30px;
    left: -40px;

}

#yesButton {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 30px;
    left: 40px;

}

.timer {
    position: absolute;
    color: white;
    font-size: 36px;
    top: -110px;
    left: 420px;
}

.gameOver {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 900px;
    margin-top: -600px;
    text-align: center;
    justify-content: center;
    z-index: 8;
    color: #FADB0F;
    font-size: 40px;
    background-color: #3a7766;
    height: 600px;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #071013;
}

.game {
    font-size: 2.5em;
    position: relative;
    top: 100px;
}

.over {
    position: relative;
    top: 220px;
}

#returnButton {

    position: relative;
    top: 400px;
}

#timerButton {
    position: relative;
    z-index: 6;
}

.gamePause {
    font-family: 'Roboto', sans-serif;
    color: #FADB0F;
    z-index: 6;
    position: absolute;
    background-color: #7D8491;
    height: 200px;
    width: 500px;
    margin-top: -40px;
    margin-left: 200px;
    border-radius: 40px;
}

.choice {
    margin-top: 5px;
    font-size: 1.5em;
}

.correct {
    margin-top: 20px;
    line-height: 1.2em;
    font-size: 1.5em;
}

.incorrect {
    margin-top: 20px;
    line-height: 1.2em;
    font-size: 1.5em;
}

.currentScoreIs {
    font-size: 2em;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}


#scoreButt {
    position: relative;
    margin-top: 80px;
}

#contButt {
    position: relative;
    margin-top: 40px;
}


  #signOut {
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    right: 30px;

  }

  .timebuttons {
    
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 0px;
    top: -170px;
    left: 40px;
  }

  .title {
    margin: auto;
    position: relative;
    top: -200px;
    left: -350px;

  
  }

  #graphButton {
    z-index: 10;
    position: absolute;
    margin-top: 20px;
    right: 320px;
  }

  #generateButton {
    position: absolute;
    left: 50px;
  }

  .graph {
    z-index: 6;
    position: absolute;
    color:white;
    margin-top: -480px;
    width: 850px;
  }

