.mainMenu {
    
    text-align: center;
    justify-content: center;
    z-index: 2;
    background-color: black;
    height: 600px;

}

.playFor {
    position: relative;
    top: -45px;
    left: -380px;
    color: #FEE440;
    font-size: 32px;
}

#oneMin {
z-index: 5;
position: relative;
top: -80px;
left: -60px;
color: #FEE440;
background-color: #9152CB;
border: 2px solid white;

}

#oneMin:Hover {
    color: blue;
    background-color: #FEE440;
}

#twoMin {
    z-index: 5;
    position: relative;
    top: -80px;
    left: -20px;
    color: #FEE440;
    background-color: #9152CB;
    border: 2px solid white;

}

#twoMin:Hover {
    color: blue;
    background-color: #FEE440;
}

#fiveMin {
    z-index: 5;
    position: relative;
    top: -80px;
    left: 20px;
    color: #FEE440;
    background-color: #9152CB;
    border: 2px solid white;

}

#fiveMin:Hover {
    color: blue;
    background-color: #FEE440;
}

.ready {
    position: absolute;
    margin-left: 160px;
    border-radius: 12px;
    z-index: 3;
    height: 120px;
    width: 60%;
    font-size: 32px;
    padding: 15px;
    background-color: aliceblue;
}

#noButton {
    position: relative;
    margin-top: 30px;
    left: -40px;

}

#yesButton {
    position: relative;
    margin-top: 30px;
    left: 40px;

}

.timer {
    position: relative;
    color: white;
    font-size: 36px;
    float: left;
    top: -60px;
    left: 35px;
}

.gameOver {

    margin-top: -50px;
    text-align: center;
    justify-content: center;
    z-index: 4;
    background-color: beige;
    height: 600px;
}

#returnButton {
    position: relative;
    bottom: -490px;
    right: 10px;
    float: right;
}

#timerButton {
    position: relative;
    z-index: 6;
}

.gamePause {
    z-index: 6;
    position: absolute;
    background-color: beige;
    height: 200px;
    width: 500px;
    margin-top: 50px;
    margin-left: 200px;
}

#contButt {
    position: relative;
    margin-top: 130px;
}